body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(-45deg, #3074db, #6ad6bd, #6ad6bd, #6aabd6);
  background-size: 400% 400%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  color: #3074db;
  font-size: 4em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeIn 3s ease-in-out, colorChange 5s infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes colorChange {
  0% {
    color: #3074db;
  }
  50% {
    color: #6ad6bd;
  }
  100% {
    color: #3074db;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
}

.btn-show {
  position: absolute;
  right: 1%;
  background-color: transparent;
  border: none;
  top: 0.3rem;
  z-index: 9;
  cursor: pointer;
  animation: btnFadeIn 2s ease-in-out;
}

.btn-show:hover {
  color: blue;
  animation: pulse 1s infinite;
}

@keyframes btnFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

p {
  font-size: 1.2em;
  color: #fff;
  margin-top: 20px;
  animation: textSlideIn 2s ease-in-out;
}

@keyframes textSlideIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
